@charset "UTF-8";
nav{
	background-color: #f1f1f1;
	height:850px  
}

footer{

}
 ul{
	list-style: none;
	padding-inline-start: 0;
}
.menu li{
	padding: 20px 10px;
	text-align: center;
} 
.text-center{
	text-algin:center;
}

.bgc{
	  background-color:#337ab7;
	  margin-bottom: 0px;
}

.linep10{
	padding:10px 0;
}

.biw100{
	width:100%;
	height:calc(850px - 162px);
	background-image: url('https://news.hmgjournal.com/upload/common/activeSquare/binary/slamdunk-1[0].jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size:cover;
}
.bgray{
	background-color: #f1f1f1;
}
.mt50p{
	 margin-top:50px; 
}