@charset "UTF-8";
nav{
	background-color: #f1f1f1;
	height:850px  
}

footer{

}
 ul{
	list-style: none;
	padding-inline-start: 0;
}
.menu li{
	padding: 20px 10px;
	text-align: center;
} 
.text-center{
	text-algin:center;
}

.bgc{
	  background-color:#337ab7;
	  margin-bottom: 0px;
}